.center{
    text-align: center;
    color: blue;
    font-weight: bolder;
}

.right{
    text-align: right;
    font-size: x-large;
    color: limegreen;
}
.lable-font{
    color: limegreen;
    text-align: center;
    font-size: large;
    font-weight: bolder;
}


.nav{
    padding: 10px;
    background-color: lightcyan;
}

.list-item{
    background-color: lightcyan;
   
    padding: 10px;

    border: 2px solid blue;
    border-radius: 12px;

}

.blog-title{
    font-size: large;
    color: blue;
    font-weight: bolder;
    text-align: center;

}

